@import "reset";
@import "define";
html,body{
    @extend %bgwhite;
    @extend %oh;
    @extend %h100;
}
#app{
    .rotate {
        @include tfr(-180deg);
    }
    .pulldown-arrow,
    .pullup-arrow{
        @extend %db;
        @extend %cfff;
        transition: all linear 0.2s;
        -webkit-transition: all linear 0.2s;
        font-size: j(12);
    }
    .pullup-arrow{
        height: 40px;
        line-height: 40px;
    }
    .pulldown-arrow {
        height: 60px;
        line-height: 60px;
    }
    .xs-plugin-pulldown-container,
    .xs-plugin-pullup-container{
        @extend %pr;
        span{
            @extend %pa;
            @extend %l0;
            @extend %w100;
            @extend %h100;
            svg{
                stroke: #fff;
                @extend %pa;
                @extend %t50;
                @extend %l50;
                margin-top: -14px;
                margin-left: -14px;
            }
        }
    }
    .xs-plugin-pullup-container{
        position: relative !important;
        bottom: 0 !important;
    }
    .animated{
        animation-duration: .3s;
        animation-fill-mode: both;
    }
    .xs-container{
        height: 100%;
    }
}
.message-div{
    @extend %pf;
    @extend %tac;
    @extend %t50;
    @extend %l50;
    margin-top: j(-17);
    height: j(34);
    line-height: j(34);
    padding: 0 j(24);
    font-size:j(16);
    color:#ffffff;
    border-radius:70px;
    opacity:0.6;
    background:#000000;
}
.weui-toast{
    opacity:0.6 !important;
    background:#000000 !important;
    top: 50% !important;
    width: j(100) !important;
    height: j(100) !important;
    margin-top: j(-50) !important;
    .weui-loading{
        margin: j(24) 0 0 !important;
        width: j(36) !important;
        height: j(36) !important;
    }
    .weui-toast__content{
        height: j(22) !important;
        font-size: j(16) !important;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.fadeOut {
    animation-name: fadeOut;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
.vux-pop-in-enter-active,.vux-pop-in-leave-active,.vux-pop-out-enter-active,.vux-pop-out-leave-active {
    will-change: transform;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.vux-pop-out-enter {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
}
.vux-pop-in-enter,.vux-pop-out-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
}
.vux-pop-in-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
}
